body { background-color : #ff6a00;
}

a { color : #0ff;
}

#liste { background-color : #000; 
         color : #b6ff00; 
         width : 300px;
}

#slike { background-color : #b458a4;
         width : 600px;
}

img { width : 500px;
}

.bok { font-size : 20px;
}