body { background : #f2f2f2; }

.alert-box { padding-left : 10px; padding-top : 5px;  padding-bottom : 5px; margin-bottom : 5px;
}

.main-section { min-height : 900px; padding-top: 1.15rem; }

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-22 { font-size: 22px; }
.size-24 { font-size: 24px; }
.size-28 { font-size: 28px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
      
