.perzister-dimed { color:#aaa; }

.perzister-rowicon { font-size:2.5em; color:#aaa; }
.perzister-alnright { text-align: right; }
.actionbutton:hover { cursor : pointer; }
.perzister-docbuttons { margin-bottom :5px;}
 

#quickapplicationlistbtn { display:none; color:#888; padding-right:10px;}
#quickapplicationlistbtn:hover {color:#fff; }

#activenotificationicon222 {color:#d9534f;}
#disablednotificationicon222  {color:#888; }
#numberofnotifications {left:-13px; top: -9px; position:relative; font-size:0.5em; font-weight:bold;}

.approwicon {color:#777;}
 
.navbar i {font-size:24px; }



#apptitle { padding-right:25px;}
#ajaxloader0,#appheadericon  { width:25px;}